@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --font-family: 'Inter', serif;
    --background: #f7f7f7;
/* navbar ul li color start here */
    --first-color: rgba(254, 163, 1, 1);
    --second-color: rgba(1, 172, 253, 1);
    --third-color: rgba(5, 212, 223, 1);
    --fourth-color: rgba(93, 88, 239, 1);
}
body{
    background: url(/assets/bg.png);
    background-color: var(--background);
    font-family: var(--font-family  ) ;
    max-width: 1158px;
    margin: 0 auto;
}
*{
    padding: 0;
    margin: 0;
}
/* shared style start here */

.common-btn-syle{
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
}
.first-color{
    color: var(--first-color);
}
.second-color{
color: var(--second-color);
}
.third-color{
    color: var(--third-color)
}
.fourth-color{
    color: var(--fourth-color);
}

/* navbar part style start here */
header{


}
.nav-icon{
    display: none;
}  
header a{
    text-decoration: none;
}
header ul li{
    list-style-type: none;
    font-size: 1.3vw;
    font-weight: 500;
}
.li:hover{
    size:100px;
    cursor: pointer;
    color: #666
}
header ul{
    display: flex;
    gap: 30px;
}
.navbar-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    max-width: 1160px;
    margin: 0 auto;
}
.logo-part{
    display: flex;
    align-items: center;
    gap: 11px;
}
.logo{
    width: 4vw;
}
.logo-part h3{
    font-size: 2.2vw;
    font-weight: 700;
}
.navbar-part button{
    font-size: 1.3vw;
    font-weight: 600;
    border-style: none;
background-color: #fea301;
color: white
}
.navbar-part button:hover{
    cursor: pointer;
}
.marquee{
    margin: 10px 10px;
}
/* hero part start here */
.hero-banner{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px 0px;
    max-width: 1160px;
    margin: 0 auto;
}
.hero-banner h1{
    font-size: 3.5vw;
    font-weight: 700;
    margin-bottom: 20px;
}
.hero-banner p{
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}
.hero-banner button{
    font-size: 1.3vw;
    font-weight: 700;
    line-height: 30px;
    border-style: none;
    color: white;
    background-color: black;
}
.hero-banner button:hover{
    background: #47444;
}

/* standard curriculum start here */

/* curriculum section */
.curriculum-section{
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 60px 10px;
    margin: 0 auto;
max-width: 1160px;
}
.curriculum-section h2{
    text-align: center;
    font-size: 46px;
    font-weight: 700;
}
.curriculum-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
    padding: 0 20px;
}
.curriculum-card{
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    border-radius: 18.864px;
    border: 0.943px solid #fff4dc;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}
.curriculum-card:hover{
    border: 0.943.px solid #c8c5bf;
    box-shadow: 0px 0px 28.296px 0.943px rgba(2, 2, 2, 0.05) inset;
}
.curriculum-card img{
    width: 40%;
    margin: 0 auto;
}
.curriculum-card h4{
    font-size: 24.523px;
    font-weight: 700;
    line height: ;
}
.curriculum-card p {
    color: #808080;
  
    font-size: 15.091px;
    font-weight: 500;
    line-height: 28.296px;
  }
  .curriculum-card button  {
    font-size: 15.091px;
    font-weight: 700;
    line-height: 28.296px;
    border-style: none;
    background: none;
  }
  .curriculum-card button a{
    text-decoration: none;
      color: var(--second-color);
  }
  
  .curriculum-card-1 {
    background: linear-gradient(180deg, #def5ff 0%, rgba(255, 255, 255, 0) 40%),
      #fff;
  }
  .curriculum-card-2 {
    background: linear-gradient(180deg, #fff4dc 0%, rgba(255, 255, 255, 0) 40%),
      #fff;
  }
  .curriculum-card-3 {
    background: linear-gradient(180deg, #eee1ff 0%, rgba(255, 255, 255, 0) 40%),
      #fff;
  }
  .curriculum-button{
    margin: 0 auto;
    display: flex;
    gap: 10px;
  }
  .curriculum-btn{
    width: 55px;
    height: 55px;
    padding: 17px 0px 19px 0px;
    border-radius: 30px;
    background: #fea301;
    border-style: none;
    color: white;
  }

.curriculum-btn i{
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
}

/* our story part start here */